<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen">

    <link rel="stylesheet" href="{% static 'insert/css/bat.css' %}" media="screen" >
    <link rel="stylesheet" href="{% static 'insert/css/color.css' %}" media="screen" >


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js" integrity="sha512-6kvhZ/39gRVLmoM/6JxbbJVTYzL/gnbDVsHACLx/31IREU4l3sI7yeO0d4gw8xU5Mpmm/17LMaDHOCf+TvuC2Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container-fluid">
        <!-- page title -->
        <div id="main" class="main">
            <div class="pagetitle">
                <h1><b>오모로봇 R1 mini</b></h1>
                <p>오모로봇의 현재 상태를 입력해보자!</p>
            </div>

            <section class="section">


                <div class="row">

                    <div class="col-lg-4 my-3 bg">

                        <div class="card">
                            <div class="card-body">
                                <div style="display:None" id="box_bat_num">{{data}}</div>
                                <h5 class="card-title"><b>배터리 입력</b></h5>
                                <form class="form" onsubmit="return false;">
                                    {% csrf_token %}
                                    <input type="number" autocomplete="off" max="100" class="bat form-control" id="bat_input" name="bat_num" placeholder="배터리 잔량&nbsp;(%)" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <input class="bat_submit btn btn-info float-right" value="입력" type="submit" id="bat_submit"></input>
                                </form>
                                <br>
                                <br>
                                <div id="card-bat-rest"></div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="wrapper">
                                                    <div class="heart">
                                                        <div class="circle">
                                                            <div class="bar"></div>
                                                            <div class="box">
                                                            <span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- lED 색상 입력 -->
                    <div class="col-lg-4 my-3 bg">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><b>LED 색상</b></h5>
                                <span style="display:None" id="r_">{{r}}</span>
                                <span style="display:None" id="g_">{{g}}</span>
                                <span style="display:None" id="b_">{{b}}</span>
                                <form name="rgb" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-4">
                                            R:<input type=text class="r form-control" name=r size=3 required>
                                        </div>
                                        <div class="col-4">
                                            G:<input type=number class="g form-control"  name=g size=3 required>
                                        </div>
                                        <div class="col-4">
                                            B:<input type=number class="b form-control"  name=b size=3 required>
                                         </div>
                                    </div>
                                    <input name="rgb-btn" class="btn btn-info float-right" value="입력" type="submit" id="button-addon2">
                                    <p type=text class="hex" size="8"></p>
                                </form>
                                <br>
                                <br>
                                <div id="card-rgb-chg"></div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="progress">
                                                  <div class="progress-bar bg-danger red" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <br>
                                                <div class="progress">
                                                  <div class="progress-bar bg-success green" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <br>
                                                <div class="progress">
                                                  <div class="progress-bar bg-info blue" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <br>
                                                <div class="progress">
                                                  <div class="progress-bar-col" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 엔코더 회전수 -->
                    <div class="col-lg-4 my-3 bg">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><b>엔코더 회전수</b></h5>
                                <div style="display:none" id="rpm1_">{{encoder_l}}</div>
                                <div style="display:none" id="rpm2_">{{encoder_r}}</div>
                                <form id="frm" method="post" >
                                    {% csrf_token %}
                                <div class="row">
                                    <div class="col-6">
                                        왼쪽 바퀴 :
                                        <input class="aa form-control" name="encoder_l" id="rpm1" maxlength="4" type="number" placeholder="RPM" required>
                                    </div>
                                    <div class="col-6">
                                        오른쪽 바퀴 :
                                        <input class="bb form-control" name="encoder_r" id="rpm2" maxlength="4" type="number" placeholder="RPM" required>
                                    </div>
                                </div>
                                <input name="rgb-btn" class="cc btn btn-info float-right" value="입력" type="submit">
                                </form>
                                <br>
                                <br>
                                <div id="card-enc-wheel"></div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="l1__area"></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="r1__area"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- main end -->


            </section>

        </div>
    </div>






<script src="{% static 'insert/js/write.js' %}"></script>
</body>
</html>