<!DOCTYPE html>
<html lang="kr">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>E3I2조 미니 프로젝트</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'main/assets/img/omo_logo.png'%}" rel="icon">
  <link href="{% static 'main/assets/img/omo_logo.png'%}"rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'main/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'main/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'main/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'main/assets/css/main.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
{% include 'common/nav.html'%}

<!-- Modal -->

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'main/assets/img/rimini/Rimini_robot_2.png'%});">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Team Introduce</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Introduce</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->


    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>E3I2조</h2>
          <p>프로젝트를 함께한 팀원</p>
        </div>

        <div class="row gy-5">

          <div class="col-lg-6 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'main/assets/img/team/I_image.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="https://github.com/eomji-kim"><i class="bi bi-github" style="font-size: 40px;"></i></a>
                <a onclick="copyEmail(1)"><i class="bi bi-envelope" style="font-size: 40px;"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>김 엄지</h4>
              <span>Captain &amp; Front-end</span>
              {% comment %} <p>김 엄지 소감문</p> {% endcomment %}
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'main/assets/img/team/E_image.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="https://github.com/ChanChanCh"><i class="bi bi-github" style="font-size: 40px;"></i></a>
                <a onclick="copyEmail(2)"><i class="bi bi-envelope" style="font-size: 40px;"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>박 찬양</h4>
              <span>Assistant manager &amp; Back-end</span>
              {% comment %} <p>박 찬양 소감문</p> {% endcomment %}
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="{% static 'main/assets/img/team/E_image.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="https://github.com/MinChangsu"><i class="bi bi-github" style="font-size: 40px;"></i></a>
                <a onclick="copyEmail(3)"><i class="bi bi-envelope" style="font-size: 40px;"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>민 경서</h4>
              <span>Back-end</span>
              {% comment %} <p>민 경서 소감문</p> {% endcomment %}
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="{% static 'main/assets/img/team/I_image.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="https://github.com/Byuljinarin "><i class="bi bi-github" style="font-size: 40px;"></i></a>
                <a onclick="copyEmail(4)"><i class="bi bi-envelope" style="font-size: 40px;"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>양 선웅</h4>
              <span>Front-end</span>
              {% comment %} <p>양 선웅 소감문</p> {% endcomment %}
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="{% static 'main/assets/img/team/E_image.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="https://github.com/eunne2"><i class="bi bi-github" style="font-size: 40px;"></i></a>
                <a onclick="copyEmail(5)"><i class="bi bi-envelope" style="font-size: 40px;"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>이 은혜</h4>
              <span>Front-end</span>
              {% comment %} <p>이 은혜 소감문</p> {% endcomment %}
            </div>
          </div><!-- End Team Member -->


        </div>

      </div>
    </section><!-- End Our Team Section -->

  <!-- ======= Testimonials Section ======= -->
  {% include 'common/testimonials.html'%}

  <!-- ======= Footer ======= -->
  {% include 'common/footer.html'%}
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>


  <!-- Vendor JS Files -->
  <script src="{% static 'main/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'main/assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'main/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'main/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'main/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'main/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'main/assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'main/assets/js/main.js'%}"></script>
  <script src="{% static 'main/assets/js/email.js'%}"></script>

</body>

</html>