 {% load static %}
 <section id="testimonials" class="testimonials section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2><a style="color: black;" href="about.html">프로필</a></h2>
      {% comment %} <p>소감문 입니다.</p> {% endcomment %}
    </div>

    <div class="slides-2 swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static 'main/assets/img/team/I_image.jpg'%}" class="testimonial-img" alt="">
              <h3>김엄지</h3>
              <h4>Captain &amp; Front-end</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i><span style="font-weight: bold; font-size: 18px;">프로필</span> <br/>
                깃허브: https://github.com/eomji-kim<br/>
                이메일: <input value="kejn333@naver.com" readonly id="copyEmail-1"  style="border:none; outline:none; font-style: italic; color: #364d59;">
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static 'main/assets/img/team/E_image.jpg'%}" class="testimonial-img" alt="">
              <h3>민경서</h3>
              <h4>Back-end</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i><span style="font-weight: bold; font-size: 18px;">프로필</span> <br/>
                깃허브 : https://github.com/MinChangsu <br/>
                이메일 : <input value="alsrudtj1527@naver.com" readonly id="copyEmail-2"  style="border:none; outline:none; font-style: italic; color: #364d59;">
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static 'main/assets/img/team/E_image.jpg'%}" class="testimonial-img" alt="">
              <h3>박찬양</h3>
              <h4>Assistant manager &amp; Back-end</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i><span style="font-weight: bold; font-size: 18px;">프로필</span> <br/>
                깃허브 : https://github.com/ChanChanCh <br/>
                이메일 : <input value="mn99108@naver.com" readonly id="copyEmail-3"  style="border:none; outline:none; font-style: italic; color: #364d59;">
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static 'main/assets/img/team/I_image.jpg'%}" class="testimonial-img" alt="">
              <h3>양선웅</h3>
              <h4>Front-end</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i><span style="font-weight: bold; font-size: 18px;">프로필</span> <br/>
                깃허브: https://github.com/Byuljinarin  <br/>
                이메일 : <input value="byuljnarin@gmail.com" readonly id="copyEmail-4"  style="border:none; outline:none; font-style: italic; color: #364d59;">
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{% static 'main/assets/img/team/E_image.jpg'%}" class="testimonial-img" alt="">
              <h3>이은혜</h3>
              <h4>Front-end</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i><span style="font-weight: bold; font-size: 18px;">프로필</span> <br/>
                깃허브 : https://github.com/eunne2  <br/>
                이메일 : <input value="ehye518@gmail.com" readonly id="copyEmail-5"  style="border:none; outline:none; font-style: italic; color: #364d59;">
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->

 <script>
   function copyEmail(number) {
    var copyText = document.getElementById(`copyEmail-${number}`);
    copyText.select();
    document.execCommand("Copy");
    alert('E-mail Copied!');
   }
 </script>